.header {
  height: 80px;
  background-color: #fff;
}
.header .header-top {
  height: 40px;
  text-align: right;
  line-height: 40px;
  border-bottom: 1px solid #1890ff;
  padding-right: 20px;
}
.header .header-top span {
  margin-right: 20px;
}
.header .header-bottom {
  height: 40px;
  display: flex;
  align-items: center;
}
.header .header-bottom .header-bottom-left {
  width: 25%;
  text-align: center;
  font-size: 20px;
  position: relative;
}
.header .header-bottom .header-bottom-left::after {
  content: '';
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  top: 100%;
  border-top: 20px solid #fff;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}
.header .header-bottom .header-bottom-right {
  width: 75%;
  text-align: right;
  margin-right: 20px;
}
.header .header-bottom .header-bottom-right .header-bottom-right-left {
  margin-right: 20px;
}
