.header {
  height: 80px;
  background-color: #fff;

  .header-top {
    height: 40px;
    text-align: right;
    line-height: 40px;
    border-bottom: 1px solid rgb(24,144,255);
    padding-right: 20px;

    span {
      margin-right: 20px;
    }
  }

  .header-bottom {
    height: 40px;
    display: flex;
    align-items: center;

    .header-bottom-left {
      width: 25%;
      text-align: center;
      font-size: 20px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        top: 100%;
        border-top: 20px solid #fff;
        border-bottom: 20px solid transparent;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
      }
    }

    .header-bottom-right {

      width: 75%;
      text-align: right;
      margin-right: 20px;

      .header-bottom-right-left {
        margin-right: 20px;
      }

      // img {
      //   width: 30px;
      //   height: 20px;
      //   margin: 0px 15px 3px;
      // }
    }
  }
}