.login {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/bg.jpg");
  background-size: 100% 100%;
}
.login .login-header {
  display: flex;
  align-items: center;
  height: 80px;
  background: linear-gradient(to bottom,rgba(8,8,6,1),rgba(8,8,6,0))
}
.login .login-header img {
  width: 40px;
  height: 40px;
  margin: 0px 20px 0px 50px;
}
.login .login-header h1 {
  font-size: 30px;
  color: white;
  margin-top: 15px;
}
.login .login-content {
  width: 420px;
  height: 320px;
  background-color: #fff;
  margin: 140px auto;
  padding: 20px 40px;
}
.login .login-content h2 {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}
.login .login-content .login-form-forgot {
  float: right;
}
.login .login-content .ant-col-rtl .login-form-forgot {
  float: left;
}
.login .login-content .login-form-button {
  width: 100%;
}
