.left-nav {
  color: #fff;
}
.left-nav .left-nav-header {
  height: 80px;
  display: flex;
  align-items: center;
}
.left-nav .left-nav-header img {
  margin: -10px 10px 0px;
  width: 40px;
  height: 40px;
}
.left-nav .left-nav-header h1 {
  color: #fff;
  margin-left: 10px;
  font-size: 20px;
}
