.left-nav {
  color: #fff;
  .left-nav-header {
    height: 80px;
    display: flex;
    align-items: center;
    img {
      margin: -10px 10px 0px;
      width: 40px;
      height: 40px;
    }

    h1 {
      color: #fff;
      margin-left: 10px;
      font-size: 20px;
    }
  }
}
